<?xml version="1.0"?>

<launch>
    <include file="$(find navegation)/launch/start_navigation.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch">
        <param name="serial_port" type="string" value="/dev/ttyUSB1"/>
    </include>
    <node name="occupacy_grid" pkg="vision" type="laser_occupancy.py"/>
    <node name="slam" pkg="slam" type="slam"/>
</launch>
