<?xml version="1.0"?>

<launch>

    <include file="$(find navegation)/launch/nav.launch"/>
    
    <node name="wheels" pkg="navegation" type="wheel_sim.py" output="screen">
    </node>

    <node name="sim" pkg="navegation" type="simulation.py" output="screen">
    </node>

    <node name="rviz_pose" pkg="rviz" type="rviz" args="-d $(find navegation)/rviz/pose_sim.rviz"/>

</launch>



