<?xml version="1.0"?>

<launch>
    
    <!-- Create params -->
    <arg name="rviz_config" default="$(find simulation)/rviz/WOMBAT_sim.rviz"/>
	
	<!-- Spawn WOMBAT -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find simulation)/urdf/wombat.xacro"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="odom_tf" pkg="simulation" type="odom_tf"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>
</launch>

